@model OnlineBookingSystem.Models.Customer
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="post">
    <div>
        <label asp-for="UserName">Username:</label>
        <input type="text" id="username" name="UserName" required>
    </div>
    <div>
        <label asp-for="PasswordHash">Password:</label>
        <input type="password" id="PasswordHash" name="PasswordHash" required>
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
    <!-- Register button -->
    <div>
        <a asp-action="Register" asp-controller="Home" class="btn btn-primary">Register</a>
    </div>
</form>