@model OnlineBookingSystem.Models.LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>

<head>
    <title>Login Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Login</h1>
        <form method="post" asp-action="Login" asp-controller="Home">
            <table class="table">
                <tr>
                    <td>
                        <label asp-for="UserName">Username:</label>
                    </td>
                    <td>
                        <input type="text" id="username" name="UserName" class="form-control" required>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Password">Password:</label>
                    </td>
                    <td>
                        <input type="password" id="Password" name="Password" class="form-control" required>
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Login</button>
            <!-- Register button -->
            <a asp-action="Register" asp-controller="Home" class="btn btn-secondary">Register</a>
        </form>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>