@model OnlineBookingSystem.Models.Reservation
<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    @{
        var restaurant = ViewBag.Restaurant as Restaurant;
    }

    <h2 class="text-center my-4" style="color: #007bff;">Make a Reservation - @restaurant.Name</h2>
    <div asp-validation-summary="All" class="alert alert-danger"></div>
    <form method="POST" asp-action="MakeNewRes">
        <input asp-for="RestaurantId" type="hidden" /> <!-- Hidden field for RestaurantId -->
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Phone">Phone</label>
            <input asp-for="Phone" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="PartySize">Number of Guests</label>
            <input asp-for="PartySize" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Date">Date</label>
            <input asp-for="Date" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="SpecialRequests">Message</label>
            <textarea asp-for="SpecialRequests" class="form-control" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button> <!-- Submit button -->
    </form>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
