@model OnlineBookingSystem.Models.Reservation
<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
</head>

<style>

</style>

<!-- Body of cshtlm containing the form for the make a new reservation page -->

<body>
    <h2 class="text-center my-4" style="color: #007bff;">Reservations List</h2>
    <div asp-validation-summary="All"></div>
    <form method="POST" asp-action="MakeNewRes">
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Phone">Phone</label>
            <input asp-for="Phone" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="PartySize">Number of Guests</label>
            <input asp-for="PartySize" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="Date">Date</label>
            <input asp-for="Date" class="form-control" required>
        </div>
        <div class="form-group">
            <label asp-for="SpecialRequests">Message</label>
            <textarea asp-for="SpecialRequests" class="form-control" required></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button> <!-- Submit button -->
    </form>
</body>

</html>
